* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.chatSection {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  background-image: url('./progrAmateur.png');
  background-size: cover;
  background-position: center;
  justify-content: center;
  color: white;
}

.landing-Page {
  min-height: 100vh;
  min-width: 100vw;
}

.landing-Background {
  display: flex;
  justify-content: center;
  background-image: url("./Images/progrAmateur.png");
  background-size: cover;
  background-position: center;
}
.chatBackground {
  background-color: rgb(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
}
.form{
  display: flex;
  border-top: 1px solid gray;
  width: 40vh;
  height: 5vh;
}

.chat{
  background-color: rgb(92, 118, 141);
}

#messages {
  background-color:  rgb(255, 255, 255, 0.8);
  list-style-type: none;
}
#online {
  background-color:  rgb(255, 255, 255, 0.8);
  
}
#sendform {
  background-color: rgb(255, 255, 255, 0);
  position: absolute;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 100vh;
}

.landing-Main-Strip {
  min-height: 100vh;
  background: rgba(255,255,255, 0.9);
}

.landing-Header {
  flex: 1;
  color: #0086C3;
  font-size: 7vh;
  text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 
  0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 
  0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 
  0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 
  0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 
  0 20px 20px rgba(0,0,0,.15);
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.landing-Intro-Container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.landing-Intro {
  flex: 1;
  max-width: 34vh;
  font-size: 1.1em;
  margin-bottom: 2rem;
}

.log-In-Key {
  font-size: 1em;
}

.landing-Details {
  max-width: 34vh;
  font-size: 1em;
  margin-top: 4rem;
}
.newMessage {
  margin: 10px;
  display: flex;
  padding: 15px;
  justify-content: space-between;
  border-radius: 8px 8px 8px 0;
  max-width: 40vh;
}

.update {
  background-color: #03B3C0;
  padding: 5px;
  margin: 12px;
}

.users {
  background-color: #03B3C0;
  padding: 5px;
  margin: 12px;
  list-style-type: none;
}

.messages-innerMsg {
  padding-left: 10px;
  overflow-wrap: break-word;
  max-width: 28vh;
}

#sendMessageInput {
  width: 80%;
}

#sendMessageButton {
  width: 20%;
}